.navbar {
    height: 90px;
    display: flex;
    align-items: center;
    background: var(--Tint-blue, #1C1E53);

}

.navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__menu {
        display: flex;
        align-items: center;
        gap: 32px;


       

        & li {
            color: #BBBBCB;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            /* 175% */
        }

        .active {
            color: var(--White, #FFF);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            /* 175% */
        }
    }

    .navbar__main {
        display: flex;
        align-items: center;
        gap: 48px;

        .navbar__btn {
            color: var(--White, #FFF);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            /* 175% */
            padding: 16px 48px;
            border-radius: 41px;
            border: 2px solid rgba(244, 246, 252, 0.20);
            background: none;
        }
    }
}