.header {


    .header__content {
        padding-top: 128px;
        display: flex;
        align-items: center;
        gap: 100px;

    }

    .header__sub {
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        /* 177.778% */
    }

    .header__title {
        margin-top: 8px;
        color: var(--Dark-blue, #282938);
        width: 595px;
        /* Heading 1 */
        font-family: Poppins;
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 74px;
        /* 137.037% */
    }

    .header__text {
        margin-top: 31px;
        color: var(--Dark-blue, #282938);
        text-align: justify;
        width: 484px;
        /* Paragraph */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
    }



}