* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

@import "__navbar.scss";
@import "__header.scss";
@import "__focus.scss";
@import "__process.scss";
@import "__mission.scss";
@import "__benefit.scss";
@import "__meet.scss";
@import "__footer.scss";
